html {
	background-color: rgba(245, 244, 243, 1);
}
body {
  margin: 0;
  padding: 0;
	background-color: #f5f4f3;
}


@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald:200,400,700|Source+Sans+Pro:400,900");
@import "./scss/font-awesome/font-awesome";
@import "./scss/bootstrap";
@import "./scss/theApp";
@import "./scss/siteCard";


// Organizations Primary Color by class name
.firstclass.siteCard .cardtop .primarycolor {
	background-color: #0A5157;
}
.secondclass .cardtop .primarycolor {
	background-color: #0EA6B5;
}


//
